<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="src/Chevron/autoload.php">
	<php>
		<const name="TEST_DB_DSN" value="mysql:host=127.0.0.1;port=3306;dbname=testing;charset=utf8" />
		<const name="TEST_DB_USERNAME" value="root" />
		<const name="TEST_DB_PASSWORD" value="" />

		<server name="HTTPS" value="off" />
		<server name="SERVER_NAME" value="local.chevron.com" />
		<server name="SERVER_PORT" value="80" />
		<server name="REQUEST_URI" value="/local/file/index.html?a=b&amp;c=d" />
		<server name="REQUEST_METHOD" value="GET" />

		<server name="PHP_AUTH_USER" value="Fido" />
		<server name="PHP_AUTH_PW" value="Dog" />
		<server name="HTTP_AUTHENTICATION" value="Basic RmlkbzpEb2c=" />
	</php>
	<testsuites>
		<testsuite name="Library">
			<directory>test/DB</directory>
			<directory>test/Hollow</directory>
			<directory>test/Filter</directory>
			<directory>test/Registry</directory>
			<directory>test/HTML</directory>
			<directory>test/HTTP</directory>
			<!-- These files act on either Headers or External Dependecies (e.g. a live DB) -->
			<exclude>test/DB/PDOWrapperTest.php</exclude>
			<exclude>test/HTTP/UtilsTest.php</exclude>
		</testsuite>
    </testsuites>
</phpunit>


